<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.guu.security.mapper.AuthorityMapper" >
  <resultMap id="BaseResultMap" type="cn.net.guu.security.model.Authority" >
    <id column="authority_id" property="authorityId" jdbcType="INTEGER" />
    <result column="authority_name" property="authorityName" jdbcType="VARCHAR" />
    <result column="authority_desc" property="authorityDesc" jdbcType="VARCHAR" />
    <result column="module" property="module" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="issys" property="issys" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    authority_id, authority_name, authority_desc, module, enabled, issys
  </sql>
  
  <!-- 
  	通过用户名称，获得用的对应的权限集合信息
   -->
  <select id="selectByUserName" resultMap="BaseResultMap" >
   select <include refid="Base_Column_List" /> from t_authority auth 
   WHERE auth.authority_id in (
	SELECT ra.authority_id FROM t_role_authority ra WHERE ra.role_id in (
 		SELECT ur.role_id FROM t_user_role ur where ur.user_id in(
 		 SELECT u.user_id FROM t_user u where username = #{userName}  )))
  </select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.net.guu.security.model.AuthorityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_authority
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_authority
    where authority_id = #{authorityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_authority
    where authority_id = #{authorityId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.net.guu.security.model.AuthorityExample" >
    delete from t_authority
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.net.guu.security.model.Authority" >
    insert into t_authority (authority_id, authority_name, authority_desc, 
      module, enabled, issys)
    values (#{authorityId,jdbcType=INTEGER}, #{authorityName,jdbcType=VARCHAR}, #{authorityDesc,jdbcType=VARCHAR}, 
      #{module,jdbcType=VARCHAR}, #{enabled,jdbcType=BIT}, #{issys,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.guu.security.model.Authority" >
    insert into t_authority
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authorityId != null" >
        authority_id,
      </if>
      <if test="authorityName != null" >
        authority_name,
      </if>
      <if test="authorityDesc != null" >
        authority_desc,
      </if>
      <if test="module != null" >
        module,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="issys != null" >
        issys,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authorityId != null" >
        #{authorityId,jdbcType=INTEGER},
      </if>
      <if test="authorityName != null" >
        #{authorityName,jdbcType=VARCHAR},
      </if>
      <if test="authorityDesc != null" >
        #{authorityDesc,jdbcType=VARCHAR},
      </if>
      <if test="module != null" >
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="issys != null" >
        #{issys,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.net.guu.security.model.AuthorityExample" resultType="java.lang.Integer" >
    select count(*) from t_authority
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_authority
    <set >
      <if test="record.authorityId != null" >
        authority_id = #{record.authorityId,jdbcType=INTEGER},
      </if>
      <if test="record.authorityName != null" >
        authority_name = #{record.authorityName,jdbcType=VARCHAR},
      </if>
      <if test="record.authorityDesc != null" >
        authority_desc = #{record.authorityDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.module != null" >
        module = #{record.module,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null" >
        enabled = #{record.enabled,jdbcType=BIT},
      </if>
      <if test="record.issys != null" >
        issys = #{record.issys,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_authority
    set authority_id = #{record.authorityId,jdbcType=INTEGER},
      authority_name = #{record.authorityName,jdbcType=VARCHAR},
      authority_desc = #{record.authorityDesc,jdbcType=VARCHAR},
      module = #{record.module,jdbcType=VARCHAR},
      enabled = #{record.enabled,jdbcType=BIT},
      issys = #{record.issys,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.guu.security.model.Authority" >
    update t_authority
    <set >
      <if test="authorityName != null" >
        authority_name = #{authorityName,jdbcType=VARCHAR},
      </if>
      <if test="authorityDesc != null" >
        authority_desc = #{authorityDesc,jdbcType=VARCHAR},
      </if>
      <if test="module != null" >
        module = #{module,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="issys != null" >
        issys = #{issys,jdbcType=BIT},
      </if>
    </set>
    where authority_id = #{authorityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.guu.security.model.Authority" >
    update t_authority
    set authority_name = #{authorityName,jdbcType=VARCHAR},
      authority_desc = #{authorityDesc,jdbcType=VARCHAR},
      module = #{module,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=BIT},
      issys = #{issys,jdbcType=BIT}
    where authority_id = #{authorityId,jdbcType=INTEGER}
  </update>
</mapper>